@{
    ViewBag.Title = "Default";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Default</h2>
<h3>@ViewBag.Message</h3>
<h3>@ViewBag.Title</h3>

@foreach (var item in ViewBag.list)
{
    @item<br />
}
<hr />
@foreach (var item in ViewData["aaaa"] as IEnumerable<String>)
{
    @item<span>메</span>
}
<h2>example@naver.com</h2>

